frontend/api-key.json
backend/lamda_function.py.zip
.terraform/.terraform
.terraform/terraform.tfstate
.terraform/terraform.tfstate.backup
.terraform/.terraform.lock.hcl
.terraform/.terraform.lock.info
backend/lamda_function.py.zip